
<template name="slides">
    {{> tester}}
    {{> controls }}
</template>

<template name="foo">


    <div class="container">
        <div class="row">
            <!-- Carousel =============== -->
            <div id="myCarousel" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> mastheader }}
                                {{> mastprofile }}
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> intro }}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> summary }}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> methods }}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> results }}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> conclusion }}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> references }}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> charts }}
                            </div>
                        </div>
                    </div>
                </div>
                {{> controls }}
            </div>
            <!-- /.carousel -->
        </div>
    </div>
</template>

<template name="controls">
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</template>

<template name="tester">
    
    <div class="container fill">
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    {{#each sections }}

        <div class="{{ klass }}">
          <div class="fill" style="background-image:url('//placehold.it/{{ url }}/FFF');">
            <div class="container">
              {{ section }}
            </div>
          </div>
        </div>

    {{/each}}

  </div>
  <div class="pull-center">
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
  </div>
</div>
</div>
</template>  