<template name="slides">

    <div class="container">
        <div class="row">
            <!-- Carousel =============== -->
            <div id="myCarousel" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> intro }}
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                          {{#each sections }}
                              <h1>{{ baz }} : text test</h1>
                          {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> summary }}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption">
                                {{> methods }}
                            </div>
                        </div>
                    </div>
                </div>
                {{> controls }}
            </div>
            <!-- /.carousel -->
        </div>
    </div>
</template>

<template name="controls">
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
    <a href="#" data-toggle="tooltip" title="This tooltip is on top!">Hover to see my tooltip</a>
</template>