<template name="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-arrow-down"></i>
      </button>
      
      <a id="scrollToTop" href="/" class="navbar-brand"><i class="fa fa-home"></i></a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="{{pathFor 'slides' }}"><i class="fa fa-file-powerpoint-o"></i></a>
        </li>
        <li>
          <a href="{{pathFor 'contact' }}"><i class="fa fa-envelope-square"></i></a>
        </li>
        {{#if screenWidth }}
        {{#each sections }}
        <li>
          <a href="{{ href }}">{{ section }}</a>
        </li>
        {{/each}}
          
        {{/if}}
        
      </ul>
    </nav>
  </div>
</nav>
</template>